{% extends "base.html" %}
{% block content %}
<h1 class="theme-title">Welcome to OnSnow Community!</h1>
<div class="container intro-text">
    <p>
        At OnSnow, we’re more than just a place for winter sports enthusiasts – we’re a thriving community for those who live for the snow.
    </p>
    <p>
        Whether you’re a seasoned skier, an adventurous snowboarder, or just starting to explore the magic of the mountains, <strong class= "bold-text">OnSnow is where you belong</strong>.
    </p>
</div>

{% endblock %}